/* -------- Tablet -------- */
@media only screen and (min-width: 600px){
    body{
        background-color: white;
    }
    /* HERO */
    .hero-wrapper .main-title{
        text-align: center;
        width: 80%;
    }
    /*Fcards*/
    .fCards-wrapper{
        padding-right: 0;
        padding-left: 0;
    }

    .featured-card{
        min-width: 280px;
        width: 45%;
    }

    /*Content*/
    .first-content-block{
        margin-left: 5%;
        margin-right: 5%;
    }

    .first-content-block .secondary-title {
        margin-top: 0px;
    }

    .article-wrapper{
        width: 90%;
        margin: auto;
    }

    #man-image{
        height: 400px;
        object-position: left;
    }

    #form-wrapper{
        width: 86%;
    }
}

/* -------- Mobile -------- */
@media only screen and (max-width: 600px){
    
    body{
        background-color: white;
    }
    .nav-elements{
        display: none;
    }
    /* HERO */
    #logo{
        padding-left: 0;
        margin: auto;
    }
    .hero-wrapper .main-title{
        text-align: center;
        width: 80%;
    }
    /* PLACES */
    .place-button{
        width: 49%;
        margin-bottom: 8px;
    }
    /* CONTENT */
    .first-content-block{
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column-reverse;
        padding-top: 60px;
    }
    
    .visit-title{
        padding-left: 10%;
        padding-right: 10%;
    }
    .first-article{
        text-align: center;
        width: 100%;
        padding-right: 24px;
        margin: 0;
    }
    
    #man-image{
        width: 100%;
        height: 200px;
        border-radius: 6px;
        object-fit: cover;
    }
    #form-wrapper{
        width: 80%;
    }

    .fCards-wrapper{
        padding-right: 0;
        padding-left: 0;
    }

}

/* -------- Desktop-------- */
@media only screen and (min-width: 1024px){
    body{
        background-color: white;
    }

    .featured-card{
        width: 441px;
    }
    .first-content-block{
        margin-left: 10%;
        margin-right: 10%;
    }
    .article-wrapper{
        width: 80%;
        margin: auto;
    }

    #man-image{
        width: 50%;
        height: 300px;
        border-radius: 6px;
        object-fit: cover;
        object-position: center;
    }

    #form-wrapper{
        width: 63%;
    }
}