/*--- Header ---*/
@media only screen and (max-width: 600px){
    
    :root{
    /* SIDE MARGINS */
    --hor-margin: 5%;
    }

    .nav-elements{
        display: none;
    }

    .place-Btn{
        width: 49%;
        margin-bottom: 2%;
    }

    .first-content-block{
        display: flex;
        flex-direction: column-reverse;
        margin-top: calc(var(--spacing-04) * 1rem);
        margin-bottom: calc(var(--spacing-04) * 1rem);
    }

    .first-article{
        text-align: center;
        width: 100%;
    }

    #man-image{
        width: 100%;
        height: 200px;
        margin-bottom: calc(var(--spacing-03) * 1rem);
    }

    .featured-card{
        width: 100%;
        margin-bottom: 4%;
    }
}

@media only screen and (min-width: 601px){
    :root{
        /* SIDE MARGINS */
        --hor-margin: 5%;
    }

    .first-content-block{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: calc(var(--spacing-04) * 1rem);
    }

    .first-article{
        text-align: center;
        width: 100%;
    }

    #man-image{
        width: 100%;
        height: 250px;
        margin-bottom: calc(var(--spacing-03) * 1rem);
    }
    
    .places-wrapper{
        margin: 0 0 calc(var(--spacing-04) * 1rem) 0;
    }

    .featured-card-wrapper .main-Btn{
        min-width: 90px;
    }
}

@media only screen and (min-width: 764px){
    :root{
        /* SIDE MARGINS */
        --hor-margin: 10%;
    }

    .first-content-block{
        display: flex;
        width: calc(100% - var(--hor-margin) * 2);
        flex-direction: row;
        justify-content: space-between;
    }
    
    #man-image{
        width: 49%;
        height: 300px;
        object-fit: cover;
        border-radius: 6px;
    }

    .first-article{
        text-align: left;
        width: 48%;
    }

    .places-wrapper{
        margin: 0 0 calc(var(--spacing-06) * 1rem) 0;
    }

    .featured-card-wrapper .main-Btn{
        min-width: 150px;
    }
}