/*=== BASE STYLES ===*/
:root{
    /* COLOR PALETTE */ 
    --main-Color: #33be94;
    --font-Color: #0e172b;
    --cta-Gradient: #f8aa23, #ff8113;
    --cta-Border-Col: #9b5300;
    --secundary-Color: #151953;
    --backGround-Color: white;
    --links-Color: #f8aa23;
    --text-over-dark-Color: white;

    /* SPACING */   
    --spacing-01: 1;
    --spacing-02: 1.5;
    --spacing-03: 2;
    --spacing-04: 2.5;
    --spacing-05: 3;
    --spacing-06: 4;
    --spacing-07: 6;
    --spacing-08: 10;

    /* FONTS & SIZES */
    font-family: 'Nunito', sans-serif;
    --paragraph: 1;
    --title: 1.5;
    --sub-Title: 1.125;
    --main-Title: 2.5;

    /* SIDE MARGINS */
    --hor-margin: 15%;
}

/* TEXT STYLES */
.main-title{
    font-size: calc(var(--main-Title) * 1em);
    margin-top: 0;
    margin-bottom: calc(var(--spacing-01) * 0.5rem);
    box-sizing: content-box;
}

.main-subtitle{
    font-size: calc(var(--sub-Title) * 1em);
    margin-top: 0;
    margin-bottom: calc(var(--spacing-03) * 1rem);
    box-sizing: content-box;
}

.secondary-title{
    font-size: calc(var(--title) * 1em);
    font-weight: 800;
    color: var(--font-Color);
    margin-top: 0;
    margin-bottom: calc(var(--spacing-02) * 1rem);
    box-sizing: content-box;
}

.terceary-title{
    font-size: var(--sub-Title);
    font-weight: 800;
    color: var(--text-over-dark-Color);
    margin: 0 0 calc(var(--spacing-01) * 0.25rem)
}

.text-content{
    margin: 0 0 calc(var(--spacing-02) * 1rem) 0 ;
}

a{color: var(--links-Color)}

/* SPACING RESET */
body{
    margin: 0;
    padding: 0;
}

button[class$="-Btn"]{
    min-width: 140px;
    min-height: 45px;
    border-radius: 6px;
    font-size: var(--paragraph);
    border: solid 1px var(--cta-Border-Col);
    color: white;
    background-image: linear-gradient(var(--cta-Gradient));
}

/*=== SECTIONS ===*/
.main-nav{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--main-Color);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.hero-wrapper{
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: var(--font-Color);
    color: white;
}

.first-block-wrapper{
    display: flex;
    width: 100%;
    min-height: 540px;
    padding-top: calc(var(--spacing-05) * 1rem);
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background-color: var(--backGround-Color);
}

.first-content-block{
    display: flex;
    width: 80%;
    flex-direction: row;
}

.coupon-section{
    display: flex;
    width: 100%;
    height: 282px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    color: var(--backGround-Color);
    background-color: var(--font-Color);
}

.placesToVisit-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 315px;
    padding-top: calc(var(--spacing-06) * 1rem);
    padding-bottom: calc(var(--spacing-06) * 1rem);
    background-color: var(--backGround-Color);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.form-section{
    display: flex;
    width: 100%;
    min-height: 600px;
    background-color: var(--secundary-Color);
}

footer{
    display: flex;
    width: 100%;
    min-height: 146px;
    background-color: var(--font-Color);
}

/*=== Main Nav ===*/
.nav-elements{
    display: inline-flex;
    padding-left: 0px;
    padding-right: var(--hor-margin);
    color: white;
    list-style: none;
    font-size: var(--paragraph);
}

.nav-elements li{
    padding: 0px 0px 0px 40px;
}

#logo{
    padding-left: var(--hor-margin);
}

/*=== First Block Content ===*/
.article-wrapper{
    width: 100%;
    text-align: center;
}

.places-wrapper{
    display: inline-flex;
    width: calc(100% - var(--hor-margin) * 2);
    height: 60px;
    justify-content: space-between;
    justify-items: center;
    padding: 0;
    margin: 0 0 calc(var(--spacing-06) * 1rem) 0;
    list-style: none;
    font-size: var(--paragraph);
    
}

.place-Btn{
    height: 100%;
    width: 24%;
    border-radius: 6px;
    background-color: goldenrod;
    font-weight: 800;
    font-size: calc(var(--paragraph) * 1em);
    color: var(--font-Color);
    line-height: 60px;
}

.first-content-block{
    display: flex;
    width: calc(100% - var(--hor-margin) * 2);
    justify-content: space-between;
}

#man-image{
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.first-article{
    width: 49%;
    text-align: left;
    font-size: calc(var(--paragraph) * 1em);
    color: var(--secundary-Color);
}

/*=== Places to Visit ===*/
.featured-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - var(--hor-margin) * 2);
}

.featured-card{
    display: flex;
    position: relative;
    width: 49%;
    height: 148px;
    margin-bottom: 2%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 6px;
    background-color: var(--font-Color);
}

.featured-card button{ 
    margin-right: calc(var(--spacing-02) * 1rem);
    margin-bottom: calc(var(--spacing-02) * 1rem);
}
.text-wrapper{ margin-left: calc(var(--spacing-02) * 1rem) ;}

.tag{
    position: absolute;
    border-radius: 6px 0 6px 0;
    top: -22px;
    left: 0px;
    color: var(--text-over-dark-Color);
    padding: 5px 25px 5px 25px;
    background-color: var(--links-Color);
}

.country{
    color: var(--text-over-dark-Color);
}
